<div class="loginpage">
    <div id="innerloginpage">
        <div id="loginminiatura"></div>
        <div id="formlogin">
            <form action="authUser" method="post">
                <h1 style="font-size: 3vw;">Formulário de login</h1>
                <div><label for="usuario">Usuário:</label><input type="text" id="usuario" name="usuario" required></div>
                <div><label for="senha">Senha:</label><input type="password" id="senha" name="senha" required></div>
                <div><input type="submit" value="logar"></div>
                <br>
                <div class="redirecionar">
                    <h2>Não possui uma conta?</h2>
                    <a href="cadastro">Clique aqui para cadastrar</a>
                </div>
            </form>
        </div>
        
    </div>
</div>