::-webkit-scrollbar {
    display: none;
}
* {
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
}
body {
    background-color: rgba(150, 200, 150, 1);
    color: rgb(100, 150, 100);
    justify-content: center;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 2vw;
    max-width: 100%;
    overflow-y: auto;
}
.menu {
    height: 100%;
    position: fixed;
    left: 0;
    padding: 0.5vw;
    padding-top: 0;
    justify-content: center;
    background-color: rgb(100, 150, 100);
}
.menubutton {
    background-image: url(icons/Hamburger_icon.svg.png);
    width: 4vw;
    aspect-ratio: 1/1;
    background-size: cover;
}
h1 {
    font-size: 4vw;
}
h4 {
    font-size: 2vw;
}
.header2 div {
    margin: 1vw;
    vertical-align: middle;
    justify-content: center;
}
.corpo {
    width: 60vw;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 2vw;
    justify-content: center;
    padding: 2vw;
}
.reelsheader {
    display: flex;
}
.reelsstatus {
    border-radius: 50vw;        
    border: orange 0.3vw solid;
}
.reelsstatus div {
    width: 8vw;
    height: 8vw;
    background-color: white;
    border-radius: 50vw;
    margin: 0.3vw;
}
.perfil {
    display: flex;
    width: 100%;
    margin-bottom: 2vw;
}
.perfilpfp {
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 50vh;        
    border: orange 0.3vw solid;
    padding: 0.3vw;
    margin-left: 3vw;
    margin-right: 3vw;
}
.perfilpfp div {
    height: 100%;
    aspect-ratio: 1/1;
    background-image: url(icons/logo-ecosta.jpg);
    background-size: cover;
    border-radius: 50vw;
}
.perfilinfo {
    width: 70%;
}
.categorias, .postagens {
    border-top: 0.1vw solid rgb(150, 200, 150);
    text-align: center;
}
.postagens {
    display: flex;
}
.categorias h4, .postagens h4 {
    padding: 1vw;
}
#wrapper {
    display: none;
    grid-row-gap: 1vw;
    align-content: start;
    padding: 1vw;
}
#wrapper div {
    display: grid;
    grid-column-gap: 1vw;
    grid-template-rows: 3vw;
}
#item1 {
    grid-template-columns: 2fr 1fr 1fr;
}
#item2 {
    grid-template-columns: 1fr 1.5fr 0.5fr;
}
#item3 {
    grid-template-columns: 2fr 2fr 0.5fr;
}
.categorias p {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 3vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: background-color 0.5s;
}
.categorias p:hover {
    background-color: rgb(150, 200, 150);
    color: white;
}
.close {
    width: 100%;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: all 0.5s;
}
.close h5 {
    margin: auto;
    font-size: 1vw;
}
.close:hover {
    background-color: rgb(150,200,150);
    color: white;
}
.postagens h4 {
    width: 50%;
    cursor: pointer;
}
.postagens h4:hover {
    background-color: rgb(150, 200, 150);
    color: white;
    transition: all 0.5s;
}
.gridpostagens {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    grid-column-gap: 0.3vw;
    grid-row-gap: 0.3vw;
    padding-top: 2vw;
}
.gridpostagens div {
    display: grid;
    background-color: rgb(150, 200, 150);
    aspect-ratio: 1/1;
    color: rgba(255, 255, 255, 0);
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.gridpostagens div:hover {
    color: rgba(255, 255, 255, 1);
    font-size: 4vw;
}
#visualizarpost {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#postexpandido {
    margin: auto;
    height: 70%;
    z-index: 2;
    aspect-ratio: 2/1;
    background-color: white;
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    border-radius: 0.5vw;
    overflow: hidden;
}
#postminiatura {
    aspect-ratio: 1/1;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
#postminiatura p {
    font-size: 15vw;
}
#infodopost {
    width: 100%;
    padding: 1vw;
    padding-top: 0;
}
#infodopost div {
    text-align: justify;
    padding: 1vw;
}
#autoreid {
    padding-bottom: 0.5vw;
    border-bottom: 0.1vw solid rgb(150, 200, 150);
}
#descricaoexpandido {
    border-bottom: 0.1vw solid rgb(150, 200, 150);
    overflow-y: auto;
    height: 60%;
}
#categoriasexpandido {
    height: 20%;
    overflow-y: auto;
}
#fechar {
    margin: 1vw;
    margin-right: 2vw;
    font-size: 3vw;
    color: white;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}