<% if(successMessage) { %>
    <script>
        alert('<%= successMessage %>')
        window.location.href='/home'
    </script>
<% } %>
<% if(erroMessage) { %>
    <script>
        alert('<%= erroMessage %>')
        window.location.href='/cadastro'
    </script>
<% } %>
<div class="loginpage">
    <div class="innercadastropage">
        <div id="formlogin">
            <form action="cadastrar-usuario" method="post">
                <h1 style="font-size: 3vw;">Cadastro</h1>
                <div><label for="nome">Nome:</label><input type="text" id="nome" name="nome" required></div>
                <div><label for="usuario">Usuário:</label><input type="text" id="usuario" name="usuario" required></div>
                <div><label for="senha">Senha:</label><input type="password" id="senha" name="senha" required></div>
                <div><input type="submit" value="cadastrar"></div>
                <div class="redirecionar">
                    <h2>Já possui uma conta?</h2>
                    <a href="login">Clique aqui para fazer o login</a>
                </div>
            </form>
        </div>
    </div>
</div>