<ul>
    <a id="abriruser">
        <div class="userperfil"></div>
        <div class="buttonhover">
            <%= userName %>
        </div>
    </a>
    <a href="home"><div class="menubutton" ></div><div class="buttonhover">Home</div></a>
    <a href="sobre"><div class="buttonsobre"></div><div class="buttonhover">Sobre nós</div></a>
</ul>
